@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="/img/Offline.png" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(248،248،255);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-black-50 text-uppercase mb-3 animated slideInDown">( Online / Offline ) Courses</h5>
                            <h1 class="display-3 text-black-50 animated slideInDown"> Offline Learning Platform</h1>
                            <h1 class="fs-5 text-black-50 mb-4 pb-2">Let's Do IT Together , Learn programming Offline In Our Lap  </h1>
                            <a href="" class="btn btn-outline-dark py-md-3 px-md-5 animated slideInRight">Join For Us Now </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="/img/Online.png" alt="" />
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(248،248،255);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-black-50 text-uppercase mb-3 animated slideInDown">( Online / Offline ) Courses</h5>
                            <h1 class="display-3 text-black-50 animated slideInDown"> Online Learning Platform</h1>
                            <h1 class="fs-5 text-black-50 mb-4 pb-2">Learn programming From Your Home   </h1>
                            <a href="" class="btn btn-outline-dark py-md-3 px-md-5 animated slideInRight">Join For Us Now </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Carousel End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Students Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Ahmed Mahmoud</h5>

                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">شكرا جدا للمجهود المحترم والمحتوى القوى جدا وبرشح السيت دا لاى طالب او مبتدأ عاوز يحب البرمجة </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Safa Ramy</h5>

                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">منتهى السهوله فى طريقه الشرح والاحترام فى التعامل والمتابعة  شكرا بجد </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Wael Walid</h5>

                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">مكان محترم جدا وبتمنى يكمل ويقدر يفيد ناس كتير </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Seliman Ahmed</h5>

                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">من الاماكن الى مستحيل تندم انك اشتكرت معاهم بجد طريقه الشرح والتطبيق العملى والمشاريع بجد ممتازه </p>
                </div>
            </div>

            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Allia Ali</h5>

                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">من اكبر اللميزات الاعداد القليلة الجروب اقصى حاجه 5 ودا ساعدنا كتير فى التطبيق الكتير وسرعه الفهم   </p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Skilled Instructors</h5>
                        <p>We choose the most experienced specialists To Represent Our Courses </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-check text-primary mb-4"></i>
                        <h5 class="mb-3">Programming For all  </h5>
                        <p> Beginners Can Start With Us until Be Junoir Level In Programming  </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Home Projects</h5>
                        <p>We Learning using Projects ,You can Implement More Projects In Your Cv  </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Problem Solving</h5>
                        <p>We are Training Out Student on Problem Solving , Not Just Coding  </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Live Online</h5>
                        <p>Our Lecture Is live Lecture on Zoom Meeting  </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.11s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-video text-primary mb-4"></i>
                        <h5 class="mb-3">Recording Lecture</h5>
                        <p>Our Lecture has been Recorded For you  </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.13s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user text-primary mb-4"></i>
                        <h5 class="mb-3">Students Count</h5>
                        <p>AT Most 5 Student For Best Result For you  </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.15s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-envelope-square  text-primary mb-4"></i>
                        <h5 class="mb-3">Connection</h5>
                        <p>By the group we can follow you even after the course, Let's Join TO US Now</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Categories Start -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
            <h1 class="mb-5">Courses Categories</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" href="/Front">
                    <img class="img-fluid position-absolute w-100 h-100" src="/img/Front-end.png" alt="" style="object-fit: cover;">
                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                        <h5 class="m-0">Front-End</h5>
                        <small class="text-primary">4 Courses </small><br />
                        <h5 href="/Front" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</h5>

                    </div>
                </a>
            </div>
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" href="/Back">
                    <img class="img-fluid position-absolute w-100 h-100" src="/img/Back-end.png" alt="" style="object-fit: cover;">
                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                        <h5 class="m-0">Back-End</h5>
                        <small class="text-primary">6 Courses</small><br />
                        <h5 href="/Back" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</h5>


                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Categories Start -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-50" src="/img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h4 class="mb-4">Welcome to Easy Programming community</h4>
                <p class="mb-4"> We look forward to teaching students programming skills and increasing their experience for a better future With Low Cost </p>

            </div>
        </div>
    </div>
</div>
<!-- About End -->;